body {
    padding: 10px;
    background:linear-gradient(to right,pink, yellow);
    font-size: 22;
}

h1 {
    text-align: center;
    margin-top: -20px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    text-align: center;
}

.button {
    padding: 5px;
}

.name {
    padding: 5px;
    grid-column:1;
}

.fact {
    padding: 5px;
    grid-column: 2;
}

.opinion {
    padding: 5px;
    grid-column: 3;
}

.character {
    display:grid;
    grid-template-columns: repeat(3, 33%);
}